/* Utility Classes */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #fff5e2;
  font-family: 'Open Sans', sans-serif;
}

.big-container{
  width: 768px;
  height: 100vh;
}

.container{
  width: 550px;
  margin: 0 auto;
}

.flex{
  display: flex;
}

/* Header Classes */
header{
  position: relative;
  padding: 40px 0 20px 0;
  background: #fdbb40;
}

.logo {
  height: 200px;
  position: absolute;
  right: -50px;
  top: -20px;
}

/* Main Classes */
main{
  height: 575px;
  padding: 40px 0;
  background: #fff;
}

.burger-name{
  margin-left: -20px;
  margin-bottom: 10px;
  padding: 10px 0 10px 20px;
  font-size: 20px;
  border: none;
}

h3{
  margin: 20px 0 10px 0;
}

.column{
  width: 49%;
  font-size: 12px;
}

label img{
  height: 40px;
  margin: 10px 10px 10px 0;
  vertical-align: middle;
}

label input[type=checkbox]{
  visibility: hidden;
}

.add{
  color: #d33359;
  font-weight: bold;
  padding-left: 30px;
  position: relative;
}

.add:after{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-60%);
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: #d33359;
  border-radius: 4px;
  content: '';
}

label input[type=checkbox]:checked + .add::before{
  position: absolute;
  top: 40%;
  left: 2px;
  transform: translateY(-60%);
  z-index: 1;
  content: "\2713";
  font-size: 20px;
  font-weight: bold;
  color: #000;
}

.discount-container{
  margin-top: 40px;
}

.discount-container input{
  width: 60%;
  height: 20px;
  margin-left: 20px;
  padding: 15px 0 15px 15px;
  border: none;
  border-radius: 5px;
  background: #fff5e2;
}

.button-container{
  justify-content: center;
}

#button{
  text-align: center;
  background: #fdbb40;
  padding: 10px 20px;
  font-size: 12px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}

/* Footer Classes */
footer{
  padding: 20px 0;
  background: #d33359;
  color: #fff;
  font-size: 25px;
}

.footer-container{
  justify-content: space-between;
}
